html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(100% - 5px);
}

#container {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    margin: 10px;
    border: 1px solid #000;
}

.navigation {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #000;
}

.navigation > div {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

.navigation > div.selected {
    background: #ff9;
}

.navigation > div:hover {
    background: #ffd;
}


.person-label {
    padding: 5px;
    cursor: pointer;
    height: 20px;
}

.person-label a.delete {
    display: none;
    float: right;
    color: #f00;
}

.person-label:hover a.delete {
    display: inline-block;
}

.person-label:hover {
    background: #ffd;
}

.person-label.selected {
    background: #ff9;
}

.person-label.selected:hover {
    background: #ff6;
}

.person-page {
    height: calc(100% - 31px);
}

.person-page .person-list {
    width: 30%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    height: 100%;
}

.person-page .person-list h1 {
    font-size: 1.2em;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.person-page .form {
    width: 70%;
    padding: 20px 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.person-page .form table {
    margin: 0 auto;
    text-align: center;
    height: 700px;
}

.person-page .free {
    background: #fff;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.person-page .busy {
    background: #000;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.person-page td {
    width: 19%;
}

.person-page td:first-child {
    width: 5%;
}

.person-page tr {
    height: 10%;
}

.person-page tr:first-child {
    height: 5%;
}

.time-page {
    height: 100%;
}

.time-page .in-group {
    opacity: 0.1;
}

.time-page .no-group {
    color: #f00;
}

.time-page .has-group.error {
    border: 5px solid #f00;
}

.time-page .has-group {
    border: 5px solid #0f0;;
}

.time-page td.highlight {
    outline: 7px solid #ff0;
}

.time-page .person-list .highlight {
    background: #ff0;
}

.time-page .person {
    display: block;
}

.time-page .person span {
    cursor: pointer;
}

.time-page .person-list .person {
    padding: 2px;
}

.time-page .asgl {
    font-style: italic;
    text-decoration: underline;
}

.time-page .timetable .person.error {
    color: #f00;
}

.time-page .timetable {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: calc(100% - 31px);
    overflow-y: auto;
}

.time-page .timetable table {
    text-align: center;
    height: 100%;
    width: 100%;
    border-spacing: 7px;
}

.time-page .timetable td {
    width: 19%;
    margin: 5px;
    cursor: pointer;
}

.time-page .timetable td:first-child {
    width: 5%;
}

.time-page .timetable tr {
    height: 11%;
}

.time-page .timetable tr:first-child {
    height: 1%;
}

.time-page .person-list {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    height: calc(100% - 31px);
    width: 20%;
    overflow-y: auto;
    text-align: center;
}

.group-page {
    height: 100%;
}

.group-page .group-list {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: calc(100% - 31px);
    overflow-y: auto;
}

.group-page > .person-list {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    height: calc(100% - 31px);
    width: 20%;
    overflow-y: auto;
    text-align: center;
}

.group-page .person span {
    cursor: pointer;
}

.group-page .asgl {
    font-style: italic;
    text-decoration: underline;
}

.group-page .group-list .person.error {
    color: #f00;
}

.group-page > .person-list .highlight {
    background: #ff0;
}

.group-page .person-list .person {
    padding: 2px;
}

.group-page .in-group {
    opacity: 0.1;
}

.group-page .no-group {
    color: #f00;
}

.group-page .group {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 25%;
    min-width: 200px;
    background: #fff;
}

.group-page .group.error h1 {
    color: #f00;
}

.group-page .group h1 {
    font-size: 1.2em;
    margin: 10px;
}

.group-page .group.highlight {
    background: #ff0;
}
